---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title="Welcome to Barranca Abajo."
  ,
  icono="/Barranca Abajo.jpg"
  ,
  estilosUrl="/Assets/CSS/styles-index.css"
>
  <header class="header-container">
    <section class="header-section">
      <img
        class="imagen-header"
        src="Assets/IMG/Home/folder-open-solid.png"
        alt="folder-open-solid.png"
      />
      <h1 class="titulo-header" id="titulo_header">Archivador</h1>
    </section>
    <ul class="lista-desordenada">
      <a
        class="link_redireccionamiento"
        href="https://github.com/EngerberthReyes"
        target="_blank"
      >
        Github
      </a>
      <li class="container-switch">
        <img alt="sol.svg" class="sol" src="/Assets/IMG/Banner/sol.svg" />
        <img alt="luna.svg" class="luna" src="/Assets/IMG/Banner/luna.svg" />
      </li>
    </ul>
  </header>
  <main class="seccion-principal">
    <section class="seccion-principal">
      <section class="seccion-secundaria seccion-especial">
        <article
          class="articulo-principal articulo-especial articulo-principal__informacion"
        >
          <article>
            <img
              class="imagen-presentacion imagen"
              src="/Assets/IMG/Banner-instrucciones/facturacion.png"
            />
          </article>
          <article>
            <h1 class="titulo titulo-seccion__dos">Engerberth Reyes</h1>
            <p class="texto-articulo">Engerberth Reyes</p>
            <a
              class="link_redireccionamiento"
              href="https://github.com/EngerberthReyes"
              target="_blank"
            >
              Github
            </a>
          </article>
        </article>
      </section>
    </section>
    <h1 class="titulo-normal">Proyectos</h1>
    <section class="seccion-principal">
      <section class="seccion-secundaria">
        <article
          class="articulo-principal links especial-2 articulo-hover articulo-principal__informacion"
        >
          <a
            class="link-contenedor"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo-imagen">Proyecto de Super Mario Bros</h1>
            <section
              class="contenedor-imagen-dos"
              title="Proyecto de Super Mario Bros"
            >
            </section>
          </a>
        </article>
        <article class="articulo-principal articulo-principal__informacion">
          <a
            class="link_redireccionamiento"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo titulo-seccion__dos">
              Proyecto de Super Mario Bros
            </h1>
          </a>
          <p class="texto texto-articulo">
            Un proyecto al cual se le aporto mi esfuerzo y mi cariño al crearlo,
            El mismo fue Realizado con PHP en Conjunto con HTML, CSS y
            Javascript.
          </p>
        </article>
      </section>
    </section>
    <section class="seccion-principal">
      <section class="seccion-secundaria">
        <article class="articulo-principal articulo-principal__informacion">
          <a
            class="link_redireccionamiento"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo titulo-seccion__dos">CMS</h1>
          </a>
          <p class="texto texto-articulo">
            Un proyecto al cual se le aporto mi esfuerzo y mi cariño al crearlo,
            El mismo fue Realizado con PHP en Conjunto con HTML, CSS y
            Javascript.
          </p>
        </article>
        <article
          class="articulo-principal links especial-2 articulo-hover articulo-principal__informacion"
        >
          <a
            class="link-contenedor"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo-imagen">CMS</h1>
            <section class="contenedor-imagen-tres" title="CMS"></section>
          </a>
        </article>
      </section>
    </section>
    <section class="seccion-principal">
      <section class="seccion-secundaria">
        <article
          class="articulo-principal links especial articulo-principal__informacion articulo-tres__especial articulo-hover"
        >
          <a
            class="link-contenedor"
            href="https://github.com/EngerberthReyes/APTesis-y-Tesis-Biblioteca-Virtual-3"
            target="_black"
          >
            <h1 class="titulo-imagen">Sistema de Facturación</h1>
            <section class="contenedor-imagen" title="Sistema de Facturación">
            </section>
          </a>
        </article>
        <article class="articulo-principal articulo-principal__informacion">
          <a
            class="link_redireccionamiento"
            href="./instrucciones-facturacion"
            target="_black"
          >
            <h1 class="titulo titulo-seccion__dos">Sistema de Facturación</h1>
          </a>
          <p class="texto texto-articulo">
            Un Sistema de Facturación que usa las siguientes tecnologias:
            Next.Js y MySQL
          </p>
        </article>
      </section>
    </section>
    <section class="seccion-principal">
      <section class="seccion-secundaria">
        <article class="articulo-principal articulo-principal__informacion">
          <a
            class="link_redireccionamiento"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo titulo-seccion__dos">
              Proyecto de Super Mario Bros
            </h1>
          </a>
          <p class="texto texto-articulo">
            Un proyecto al cual se le aporto mi esfuerzo y mi cariño al crearlo,
            El mismo fue Realizado con PHP en Conjunto con HTML, CSS y
            Javascript.
          </p>
        </article>
        <article
          class="articulo-principal links especial-2 articulo-hover articulo-principal__informacion"
        >
          <a
            class="link-contenedor"
            href="./instrucciones-mario-bros"
            target="_black"
          >
            <h1 class="titulo-imagen">Proyecto de Super Mario Bros</h1>
            <section
              class="contenedor-imagen-dos"
              title="Proyecto de Super Mario Bros"
            >
            </section>
          </a>
        </article>
      </section>
    </section>
  </main>
  <section id="flecha" class="flecha">
    <img
      class="flechaUp-svg"
      alt="arrowright.svg"
      src="/Assets/IMG/Banner/arrowright.svg"
    />
  </section>
  <footer class="pie-pagina">
    <section class="section-footer">
      <p class="texto-pie-pagina">Archivador / 2024 &copy;</p>
      <i>Aqui van iconos</i>
    </section>
  </footer>
</Layout>
<script type="text/javascript" src="Assets/JS/main-home.js"></script>
