---
interface Props {
  title: string;
  icono: string;
  estilosUrl: string;
}

const { title, icono, estilosUrl } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icono} />
    <meta name="generator" content={Astro.generator} />
    <link href={estilosUrl} rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Assets/CSS/animate.min.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Assets/CSS/boxicons.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
